// .Heading {
//   text-align: center;
//   padding-bottom: 40px;
// }

.subhead {
  padding-bottom: 10px;
  align-items: flex;
  text-align: right;
}
.remarks {
  text-align: right;
}
.total {
  // padding-top: 10rem;
  height: 200px;
  // padding-bottom: 5rem;
  // position: fixed;
}
