.heading{
    text-align: center;
    padding-bottom: 2rem;
}
.customer{
    padding-bottom: 1rem;
}
.options{
    padding-bottom: 2rem;
}
.enteries{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.button{
    display: flex;
        align-items: flex-end;
        margin-right: 10rem;
        text-align: center;
}