.Heading {
  text-align: center;
  padding-bottom: 40px;
}

.subhead {
  padding-bottom: 10px;
  align-items: flex;
  text-align: right;
}
.remarks {
  //   padding-left: 1rem;
  align-items: flex-end;
  padding-bottom: 20px;
}
.total {
  padding-top: 20rem;
  height: 20rem;
}
